In [2]:
#opening the tsv fil
import pandas as pd
train=pd.read_csv("train.tsv",delimiter="\t")

In [3]:
train.shape

(4375, 2)

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4375 entries, 0 to 4374
Data columns (total 2 columns):
tags           3504 non-null object
description    4375 non-null object
dtypes: object(2)
memory usage: 68.4+ KB

In [5]:
train.head(20)

,tags,description
0,licence-needed supervising-job 5-plus-years-ex...,THE COMPANY Employer is a midstream service...
1,2-4-years-experience-needed salary full-time-job,ICR Staffing is now accepting resumes for Indu...
2,part-time-job,This is a great position for the right person....
3,licence-needed,A large multi-specialty health center is expan...
4,5-plus-years-experience-needed full-time-job b...,JOB PURPOSE: The Account Director is respon...
5,associate-needed 5-plus-years-experience-needed,"At Cottage Health System, our facilities are s..."
6,full-time-job ms-or-phd-needed 5-plus-years-ex...,*E Learning Instructional Designer with at lea...
7,bs-degree-needed 5-plus-years-experience-needed,Sales and Service Representative SAF-Hollan...
8,bs-degree-needed 2-4-years-experience-needed,"SAF-Holland, Inc. is currently seeking an Inte..."
9,full-time-job hourly-wage,Immediate opening for full time staffing coord...
10,licence-needed,WE ARE CHANGING LIVES! We invite you to join u...
11,2-4-years-experience-needed,1. Associate level resource with 2-3 years In...
12,full-time-job,A Leader in the Field of Photonics Founded in...
13,hourly-wage,A Leader in the Field of Photonics Founded in...
14,bs-degree-needed 2-4-years-experience-needed,"JOB SUMMARY: Facilitate the definition, idea g..."
15,hourly-wage,Growing company in Celina is looking for an Of...
16,bs-degree-needed 2-4-years-experience-needed,*Position: Industrial Sales Engineer* Delta T...
17,NaN,"*Join the Club!* *Your Local Hermantown, MN Sa..."
18,NaN,"*Join the Club!* Today, we are 625 clubs stro..."
19,full-time-job salary,New York Police Department *Take The NYPD P...

In [6]:
train['tags'].isnull().values.sum()

871

In [7]:
train['part-time-job']=0

In [8]:
import numpy as np

In [9]:
n_train=train.replace(np.nan,"NA",regex=True)

In [10]:
n_train.head()

,tags,description,part-time-job
0,licence-needed supervising-job 5-plus-years-ex...,THE COMPANY Employer is a midstream service...,0
1,2-4-years-experience-needed salary full-time-job,ICR Staffing is now accepting resumes for Indu...,0
2,part-time-job,This is a great position for the right person....,0
3,licence-needed,A large multi-specialty health center is expan...,0
4,5-plus-years-experience-needed full-time-job b...,JOB PURPOSE: The Account Director is respon...,0

In [11]:
for i in range(0,4375):
     if ('part-time-job' in n_train.tags[i]):
        n_train['part-time-job'][i]=1

C:\Users\hpp\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [12]:
n_train['full-time-job']=0
for i in range(0,4375):
     if ('full-time-job' in n_train.tags[i]):
        n_train['full-time-job'][i]=1

C:\Users\hpp\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [13]:
n_train['hourly-wage']=0
for i in range(0,4375):
     if ('hourly-wage' in n_train.tags[i]):
        n_train['hourly-wage'][i]=1

C:\Users\hpp\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [14]:
n_train['salary']=0
for i in range(0,4375):
     if ('salary' in n_train.tags[i]):
        n_train['salary'][i]=1

C:\Users\hpp\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [15]:
n_train['associate-needed']=0
for i in range(0,4375):
     if ('associate-needed' in n_train.tags[i]):
        n_train['associate-needed'][i]=1

C:\Users\hpp\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [16]:
n_train['bs-degree-needed']=0
for i in range(0,4375):
     if ('bs-degree-needed' in n_train.tags[i]):
        n_train['bs-degree-needed'][i]=1

C:\Users\hpp\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [17]:
n_train['ms-or-phd-needed']=0
for i in range(0,4375):
     if ('ms-or-phd-needed' in n_train.tags[i]):
        n_train['ms-or-phd-needed'][i]=1

C:\Users\hpp\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [18]:
n_train['licence-needed']=0
for i in range(0,4375):
     if ('licence-needed' in n_train.tags[i]):
        n_train['licence-needed'][i]=1

C:\Users\hpp\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [19]:
n_train['1-year-experience-needed']=0
for i in range(0,4375):
     if ('1-year-experience-needed' in n_train.tags[i]):
        n_train['1-year-experience-needed'][i]=1

C:\Users\hpp\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
n_train['2-4-years-experience-needed']=0
for i in range(0,4375):
     if ('2-4-years-experience-needed' in n_train.tags[i]):
        n_train['2-4-years-experience-needed'][i]=1

C:\Users\hpp\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [21]:
n_train['5-plus-years-experience-needed']=0
for i in range(0,4375):
     if ('5-plus-years-experience-needed' in n_train.tags[i]):
        n_train['5-plus-years-experience-needed'][i]=1

C:\Users\hpp\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
n_train['supervising-job']=0
for i in range(0,4375):
     if ('supervising-job' in n_train.tags[i]):
        n_train['supervising-job'][i]=1

C:\Users\hpp\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [23]:
n_train['NA']=0
for i in range(0,4375):
     if ('NA' in n_train.tags[i]):
        n_train['NA'][i]=1

C:\Users\hpp\Anaconda3\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [24]:
n_train.head()

,tags,description,part-time-job,full-time-job,hourly-wage,salary,associate-needed,bs-degree-needed,ms-or-phd-needed,licence-needed,1-year-experience-needed,2-4-years-experience-needed,5-plus-years-experience-needed,supervising-job,NA
0,licence-needed supervising-job 5-plus-years-ex...,THE COMPANY Employer is a midstream service...,0,0,0,0,0,0,0,1,0,0,1,1,0
1,2-4-years-experience-needed salary full-time-job,ICR Staffing is now accepting resumes for Indu...,0,1,0,1,0,0,0,0,0,1,0,0,0
2,part-time-job,This is a great position for the right person....,1,0,0,0,0,0,0,0,0,0,0,0,0
3,licence-needed,A large multi-specialty health center is expan...,0,0,0,0,0,0,0,1,0,0,0,0,0
4,5-plus-years-experience-needed full-time-job b...,JOB PURPOSE: The Account Director is respon...,0,1,0,0,0,1,0,0,0,0,1,1,0

In [25]:
pd.crosstab(index=n_train['part-time-job'],columns="count")

col_0          count
part-time-job
0               4047
1                328

In [26]:
pd.crosstab(index=n_train['full-time-job'],columns="count")

col_0          count
full-time-job
0               3490
1                885

In [27]:
pd.crosstab(index=n_train['hourly-wage'],columns="count")

col_0        count
hourly-wage
0             3924
1              451

In [28]:
pd.crosstab(index=n_train['salary'],columns="count")

col_0   count
salary
0        3706
1         669

In [29]:
pd.crosstab(index=n_train['associate-needed'],columns="count")

col_0             count
associate-needed
0                  4166
1                   209

In [30]:
pd.crosstab(index=n_train['bs-degree-needed'],columns="count")

col_0             count
bs-degree-needed
0                  3405
1                   970

In [31]:
pd.crosstab(index=n_train['ms-or-phd-needed'],columns="count")

col_0             count
ms-or-phd-needed
0                  4292
1                    83

In [32]:
pd.crosstab(index=n_train['licence-needed'],columns="count")

col_0           count
licence-needed
0                3851
1                 524

In [33]:
pd.crosstab(index=n_train['1-year-experience-needed'],columns="count")

col_0                     count
1-year-experience-needed
0                          4044
1                           331

In [34]:

pd.crosstab(index=n_train['2-4-years-experience-needed'],columns="count")

col_0                        count
2-4-years-experience-needed
0                             3332
1                             1043

In [35]:

pd.crosstab(index=n_train['5-plus-years-experience-needed'],columns="count")

col_0                           count
5-plus-years-experience-needed
0                                3739
1                                 636

In [36]:

pd.crosstab(index=n_train['supervising-job'],columns="count")

col_0            count
supervising-job
0                 3624
1                  751

In [37]:
pd.crosstab(index=n_train['NA'],columns="count")

col_0  count
NA
0       3504
1        871

In [38]:
# description into tfidf vectorizer and hashingvectorizer (both on test and train data)
# some features can be added using quora dataset
# feature selection
# imbalanced algorithms to be implemented
# word2vec can be used

In [ ]:
n_train.t